[submodule "Jitterentropy"]
	path = jitterentropy-sys2/jitterentropy
	url = https://github.com/smuellerDD/jitterentropy-library.git
	shallow = true
	ignore = all
	recurseSubmodules = false

[submodule "SymCrypt"]
	active = false
	path = symcrypt-sys/symcrypt
	url = https://github.com/microsoft/SymCrypt.git
	shallow = true
	ignore = all
	recurseSubmodules = false
